

$color1: black;
$color2: #6c757d;
$color3: coral;
$fontfamily1: 'Josefin Sans', sans-serif;
$fontfamily2: 'Nanum Gothic', sans-serif;
$fontfamily3: 'Righteous', cursive;  

$display-font-sizes: (
    1: 5rem,
    2: 4.5rem,
    3: 4rem,
    4: 3.5rem,
    5: 3rem,
    6: 2.5rem,
    7: 1.5rem
);

$cajasEventos: (
                "negro": $color1,
                "gris": $color2,
                "coral": $color3,
);

@mixin centrado {
    display: flex;
    justify-content: center;
    align-items: center;
    
}