@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@100&family=Nanum+Gothic&family=Righteous&family=Roboto:ital,wght@0,100;1,300&display=swap');
@import "_variables.scss" ;

$color1: black;
$color2: grey;
$color3: coral;
$fontfamily1: 'Josefin Sans', sans-serif;
$fontfamily2: 'Nanum Gothic', sans-serif;
$fontfamily3: 'Righteous', cursive; 

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    min-height: 100vh;
    background-color: lightcoral !important;
    background-image: url("data:image/svg+xml,%3Csvg width='40' height='40' viewBox='0 0 40 40' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M20 20.5V18H0v-2h20v-2H0v-2h20v-2H0V8h20V6H0V4h20V2H0V0h22v20h2V0h2v20h2V0h2v20h2V0h2v20h2V0h2v20h2v2H20v-1.5zM0 20h2v20H0V20zm4 0h2v20H4V20zm4 0h2v20H8V20zm4 0h2v20h-2V20zm4 0h2v20h-2V20zm4 4h20v2H20v-2zm0 4h20v2H20v-2zm0 4h20v2H20v-2zm0 4h20v2H20v-2z' fill='%23000000' fill-opacity='0.29' fill-rule='evenodd'/%3E%3C/svg%3E");
}
.titulo-jumbo{
    text-shadow: 1px 2px royalblue;
    animation: bounce;
    animation-iteration-count: infinite;
    animation-duration: 8s;

}

.video-title{
    display: flex;
    justify-content: center;
    font-size: 27px;
}

.vinilogo a{
    font-family: 'Righteous', cursive !important;
    font-family: 'Roboto', sans-serif;
}


.navbar-1{
    width: 250px;
    height: 1308px;
    position: absolute;
    margin-left: -300px;
    background-color: blueviolet;
    transition: all 0.5s ease-out;
}
.nav-link{
    font-size: 1.25em;
}
.nav-link:active,
.nav-link:focus,
.nav-link:hover{
    background-color: rgb(158, 175, 175);
    border-radius: 30px ;
    transition: all 0.8s ease-out;

}
.my-container{
    transition: 0.4s;
}
.active-nav{
    margin-left: 0;
}
.active-cont{
    margin-left: 250px;
}

#menu-btn{
    background-color: coral;
}
#menu-btn:focus{
    box-shadow: 0 0 0 0.25rem #7952b344;
}



.cont-edit{
    margin-bottom: 100px;
    background: rgb(63,94,251);
    background: radial-gradient(circle, rgba(63,94,251,1) 0%, rgba(252,70,107,1) 100%);
}
.text-white{
    text-align: center;
}


.fondo-imagen{
    background-image: url(../assets/img/vinilosdos.jpg);
    background-size: cover;
    background-position: center;
    margin-bottom: 50px;
}

.vinilo:hover{
    animation-duration: 1s;
    animation-name: rotate720;
}

@keyframes rotate720{
    from {
        transform: rotateZ(0);
    }

    to{
        transform: rotateZ(720deg);
    }
}

footer{
    margin-top: 50px;
    background-color: black;
}
.titulo-footer {
    font-size: 17px;
    color: white; 
}

.jover:hover{
    background-color: grey !important;
    transition: all 0.5s ease-out;
}


.card{
    margin: 20px;
    display: flex;
    justify-content: space-evenly;
    background: #ff9966;  
    background: -webkit-linear-gradient(to right, #ff5e62, #ff9966);  
    background: linear-gradient(to right, #ff5e62, #ff9966); 
    box-shadow: 20px 10px #b44547;
}

.subtitulo-jumbo{
    font-size: 30px;
}

.card-img-top{
    border-radius: 30px;
}
.card-img-top:hover{
    transform: scale(1.1);
    transition: all 0.5s ease-out ;
}

.titulo-nosotros{
    text-shadow: 10px 15px 6px rgba(0,0,0,0.3);
    text-align: center;
    font-size: 100px;
    margin-top: 20px;
    padding: 10px; 
    /* background-color: chocolate; */
}
.titulo-nosotros:hover{
    color: white;
    transition: all 0.5s ease-in-out;
}
.nosotros-fila{
    height: 800px;
}
.nosotros{
    height: 800px;
    width: 90%;
}
.nleft{
    background-image: url(./assets/img/vinilosmanos.jpg);
    background-color:rgb(161, 89, 62) ;
    background-position: center;
    background-size: cover;
    border-radius: 15px;
}
.nright h3{
    text-align: center;
}
.nright{
    background-color: rgb(148, 121, 121);
    border-radius: 15px;
}
.nright p{
    text-align: justify;
    padding: 20px;

}

h2{
    text-align: center;
    background-color: #b44547;
}
h2:hover{
    color: #ff5e62;
}


.nosotros p{
    font-size: 20px;

}


.carousel-item{
    background-size: cover;
    background-position: center;
    padding: 10px;
    height: auto;
}

.img-fluid{
    background-size: cover;
    background-position: center;
    height: max-content;
}

@media (max-width:800px){
    #sidebar{
        margin-left: -250px;
    }
    #sidebar .active{
        margin-left: 0px;
    }
    #sidebarCollapse span{
        display: none;
    }
    .card{
        width: 100%;
    }
}
@media (max-width:768px){
    .vinilo{
        position: relative;
    }
}
@media (max-width:425px){
    .titulo-nosotros{
        font-size: 60px;
    }
    #sidebar {
        margin-top: -20px;
        
    }
}




/* eventos */

section {

    .nleft{
        background-image: url(../assets/img/afiche2.jpg);
        background-position: center;
        background-size: cover;
    }
    .nright{
        background-color: $color2;
        h3{
            font-family: $fontfamily3;
            font-size: 50px;
        }
        p{
            font-size: 28px;
            font-family: $fontfamily2;
        }

    }
}
.section-2{
    margin-top: 10px;
    .nleft{
        // height: 250px;
        background-image: none;
        h3{
            font-size: 50px;
            font-family: $fontfamily3;
            text-align: center;
        }
        p{
            font-size: 28px;
            font-family: $fontfamily2;
            padding: 10px;
        }
        
        
    }
    .nright{
        background-image: url(../assets/img/afiche1.jpg);
        // height: 800px;
        background-position: center;
        background-size: cover;
    }
}
.section-3{
    margin-top: 15px;
    .nleft{
        background-image: url(../assets/img/afiche3.jpg);
        background-size: cover;
        background-position: center;

        p{
            text-align: center;
        }
    .nright{
        h3{
            font-size: 50px;
            font-family: $fontfamily3;
        }
        p{
            font-size: 28px;
            font-family: $fontfamily2;
        }
    }
    }

}

.fondo-imageneventos{
    background-size: cover;
    background-position: center;
    background-image: url(../assets/img/vinilosdos.jpg);
    margin-top: 15px;
    margin-bottom: 30px;
    
}